{# templates/web/home.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <link rel="stylesheet" href="{{ asset('css/formulario.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/formulario_util.css') }}" />

    <div class="body">


    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3987.026468100623!2d-79.9642896865841!3d-2.1435450377633276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902d72fd09db9eb7%3A0xab610e2c62375c0!2sEscuela+de+Dise%C3%B1o+y+Comunicaci%C3%B3n+Visual!5e0!3m2!1ses!2sec!4v1538182186633" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    <br><br>    

	<div class="contact1">
		<div class="container-contact1 textocentrado">
			<div class="contact1-pic js-tilt" data-tilt>
				<img src="{{ asset('images/game/img-01.png') }}" alt="IMG">
			</div>

			<div>
				<span class="contact1-form-title">
					¿Alguna pregunta o sugerencia?
				</span>
				<span class="contact1-form-title">
					Escríbenos a<br> edcom@espol.edu.ec 
				</span>

			</div>
		</div>
	</div>


    <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('js/Demo.js') }}"></script>
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('js/funcion.js') }}"></script>
    <script src="{{ asset('js/jBox.js') }}"></script>
    <script src="{{ asset('js/jBox.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.js') }}"></script>
    <script src="{{ asset('js/jBox.Confirm.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.js') }}"></script>
    <script src="{{ asset('js/jBox.Image.min.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.js') }}"></script>
    <script src="{{ asset('js/jBox.Notice.min.js') }}"></script>




{% endblock %}

{% block javascripts %}
{% endblock %}
